h1 {
      color: rgb(255, 0, 0);
   }

h3{
   color: rgb(255, 0, 0)
}

h4{
      color: rgb(255, 77, 77);
}

p{
       color: rgb(255, 0, 0)
}

   
body 
  {
      background-color:rgb(255, 179, 102)
  }
  
p.sansserif 
{
    font-family: Arial, Helvetica, sans-serif;
}
  
  a:link, a:visited {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}

 .links {
 text-align:center;  background-color: Black ; width:15%; height:100%; 
position: absolute; top: 4px; left: 10px; padding-top: 50px; max-width: 230px; }



.heading {
	  position: absolute; 
width:70%; left:20%; top:4px; background-color:Black;

}	
.maincontent {
	  position: absolute;
width:70%; left:20%; top:220px; 
}

.tables {
	  position: absolute;
width:70%; left:20%; top:250px; 
}
